DB_URL=
LIMEN_SECRET=
API_VERSION=v1
API_PORT=8080

GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=./internal/db/migrations
GOOSE_TABLE=

CORS_ALLOWED_ORIGIN="http://localhost:5173"

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM=noreply@example.com